<!-- Link to the sign.css stylesheet -->
<link rel="stylesheet" href="/css/sign.css">

<!-- Main container for the password reset form -->
<div class="mainContainer">
    <!-- Company logo section -->
    <div class="companyLogo">
        <h1>Company's Logo</h1>
    </div>

    <!-- Form input section -->
    <div class="formInput">
        <h1>Welcome</h1>
        <!-- Password reset form -->
        <form method="POST" action="/users/forgetPasswordLink">
            <!-- Input fields for email, password, and confirm password -->
            <input type="email" name="email" placeholder="Enter email" required><br>
            <input type="password" name="password" placeholder="Enter password" required><br>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>
            
            <!-- Submit button -->
            <div class='buttons'>
                <div style="margin-left: 60px;" class='submitButtons'><button type="submit">Reset</button></div>
            </div>

            <!-- Additional information and registration link -->
            <div class="extraStuff">
                <small>Don't have an account?</small>
                <a href="/users/sign-up">Register User</a>
            </div>
        </form>
    </div>
</div>
